/* códigos das fontes: 
font-family: 'Dosis', sans-serif;
font-family: 'Satisfy', cursive;
font-family: 'Titillium Web', sans-serif;
*/ 

body {
    font-family: 'Titillium Web', sans-serif;
}

/* começo menu dropdown*/
*{margin: 0; padding: 0;}

body {
    font-family: 'Titillium Web', sans-serif;
    font-size: 20px;
    font-weight: bold;
}

.menu {
    list-style:none;
    border:1px solid #c0c0c0;
    float:left;
}

.menu li {
    position:relative;
    float:left;
    border-right:1px dotted #c0c0c0;
    }

.menu li a {
    color:#333;
    text-decoration:none;
    padding:5px 10px;
    display:block;
    background-color: gold;
}

.menu li a:hover {
    background:#333;
    color:#fff;
    -moz-box-shadow:0 3px 10px 0 #CCC;
    -webkit-box-shadow:0 3px 10px 0 #ccc;
    text-shadow:0px 0px 5px yellow;
}

.menu li ul {
    position:absolute;
    top:25px;
    left:0;
    background-color: white;
    display:none;
    }

.menu li:hover ul, .menu li.over ul {
    display:block;
}

.menu li ul li {
    border:1px solid #c0c0c0;
    display:block;
    width:150px;
}

/* fim menu dropdown*/

header {
    background: url(img/estrelas.jpg);
    width: 100%;
    height: 420px;
}

.cabecalho {
    color: rgb(255, 251, 213);;
    font-size: 45px;
    padding: 250px 0 0 175px;
    text-shadow: 5px 5px 20px yellow;
}

.txt-cabecalho {
    color: rgb(255, 251, 213);
    text-align: end;
    font-size: 20px;
    padding: 75px 125px 100px 0;
    text-shadow: 5px 5px 12px yellow;
}

/* barra de navegação */ 

.caixa-nav {
    background: rgb(255, 254, 247);
}

.indicados {
    display: inline-block;
    padding: 100px;
    font-size: 20px;
    text-shadow: 1px 1px 5px rgb(247, 242, 0);
}

.indicados a {
    text-decoration: none;
}

.indicados:before {
    content: "★ ";
}
.indicados:after {
    content: " ★";
}

.indicados:hover {
    font-size: 22px;
}
