
body {
    font-family: 'Titillium Web', sans-serif;
}

header img {
    width: 100%;
    height:570px;
    border: solid black;
}

main h1 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: bold;
    text-align: left;
    font-size: 40px;
    margin: 20px;
    text-shadow: 5px 5px 12px yellow;
    position: absolute;
    top: 200px;
    right: 50px;
    display: inline-block;
}

.poster-filme {
    width: 50%;
    height: 60%px;
    margin: 1% 1.5%;
    box-sizing: border-box;
    border-radius: 20px;
    display: inline-block;
    box-shadow: 10px 10px 10px black;
    position: relative;
}

.filmes-indicados {
    display: inline-block;
    text-align:inherit;
    font-weight: bold;
    font-size: 26px;
    margin: 20px;
}


.filmes-indicados li {
    display: inline-block;
    text-align: center;
    width: 30%;
    height: 30%;
    vertical-align: top;
    margin: 1% 1.5%;
    padding: 30px 20px;
    box-sizing: border-box;
    border: 2px dotted #000000;
    border-radius: 20px;
}

.nome-filme {
    font-family: 'Titillium Web', sans-serif;
    text-align: center;
    padding: 20px;
    font-weight: bold;
    vertical-align: top;

}

footer {
    background-image: url(img/estrelas.jpg);
    background-size: contain;
    width: 100%;
    position: absolute;
}

.oscardourado {
    height: 80px;
    margin: 1% 45%;
}

/*p {
    color: white;
    text-align: center;
    margin-bottom: 10px;
    padding: 10px;
}*/
